@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

body {
	margin: 0;
    background: rgb(49, 49, 49);
    font-family: 'Work Sans', sans-serif;
    font-weight: 100;
    text-align: center;
    color: white;
    background: url(../g4o2-website/media/0000001.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

a {
    color: orange;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}
::-moz-selection {
    color: lightblue;
    background: orange;
}

::selection {
    color: lightblue;
	background: orange;
}